.customers,
.customers__list {
  display: flex;
  align-items: center;
}

.customers {
  margin-top: 8rem;
}

.customers__list {
  list-style: none;
}

.customers__list-item:not(:last-child) {
  margin-right: -1.6rem;
}

.customers__list-item img {
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.customers__caption {
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 1.6rem;
}

.customers__caption span {
  color: #cf711f;
}

.hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 9.6rem;
}

.hero__description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero__img {
  display: block;
  width: 100%;
}

.header {
  background-color: #fdf2e9;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;

  padding: 0 3.2rem;
}

.header__logo {
  height: 2.2rem;
}


.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__nav-item:not(:last-child) {
  margin-right: 3.2rem;
}

.header__nav-item a:link,
.header__nav-item a:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all .5s;
}

.header__nav-item a:hover,
.header__nav-item a:active { 
  color: #cf711f;
}

.header__nav-item a.nav-cta:link,
.header__nav-item a.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 3rem;
  color: #fff;
  background-color: #e67e22;
}

.header__nav-item a.nav-cta:hover,
.header__nav-item a.nav-cta:active {
  background-color: #cf711f;
}

.works {
  padding: 9.6rem 0;
}


.works__number {
  display: inline-block;
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.works__paragraph {
  font-size: 2rem;
  line-height: 1.8;
}

.works__img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.works__img-box::after,
.works__img-box::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works__img-box::after {
  width: 65%;
  /* height: 400px; */
  padding-bottom: 65%;
  background-color: #fdf2e9;
  z-index: -2;
}

.works__img-box::before {
  background-color: #f9f2a9;
  width: 50%;
  padding-bottom: 50%;
  z-index: -1;
}

.works__img {
  width: 40%;
  justify-self: center;
  align-self: center;
}



